.legend{
	position: absolute;
  left: 30%;
  width: 600px;
}

.detail-view{
	width:400px;
	border-style: solid;
  	border-width: thin;;
  	z-index: 999999999;
  	background-color: white;
  	/*left:1041px;*/
  	left:56%;
  	top:74px;
  	position: absolute;
  	padding:5px;
  	display: none;
}

#close{
	float:right;
	padding-top:0px;
	padding-right:5px;
}

#dynamic{
	margin-top: 5px;
	margin-left:3px;
}

.pert-cell{
	font-weight: bold;
}

.milestone{
	margin-top: 4px;
}

.center{
	font-size: 1.2em;
	font-style: italic;
}

.assay-info{
	font-size: 0.7em;
}


/*expandable*/
.container {
    width:100%;
}
.container div {
    width:100%;
}
.container .header {
    /*background-color:#d3d3d3;*/
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    width:200px;
    border-style: solid;
  	padding-left: 30px;
  	border-width: thin;
}
.container .content {
    display: none;
    padding : 5px;
}
.center2{
	font-weight: bold;
}